* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
   --width: 60%;
}

body {
   height: 100vh;
   font-family: 'Consolas', monospace;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-top: 2.8rem;
}

.title {
   font-size: 2.5rem;
   font-weight: bold;
   margin-bottom: 2rem;
}

.rainbow {
   background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
   );
   background-size: 1400% 100%;
   color: transparent;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   animation: rainbow-animation 2s ease infinite;
}

.darker {
   color: #828282;
}

.tabs {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 1.8rem;
   display: flex;
}
.tab_btn {
   width: 50%;
   background: none;
   border: none;
   outline: none;
   transition: 0.2s;
   font-size: 1rem;
   font-family: monospace;
   background-color: #e5e5e5;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}
.tab_btn.active {
   background-color: #fff;
   border-bottom: none;
}
.tab_btn:not(.active):hover {
   background-color: #ccc;
}

.tab {
   width: var(--width);
}

.input {
   border: 1px solid #ccc;
   font-family: monospace;
   border-bottom: 2px solid #ccc;
   border-radius: 5px;
   padding: 0.7rem 0.9rem;
   outline: none;
   transition: border 0.2s;
   font-size: 1rem;
   width: 100%;
}
.input:focus {
   border-color: #5868de;
}
.sub {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 5px;
   gap: 1rem;
   color: #bcbcbc;
   font-size: 1rem;
}
.symbols {
   word-break: break-all;
}
.checkbox {
   user-select: none;
   display: flex;
   gap: 10px;
}

.textarea {
   resize: vertical;
   min-height: 150px;
   max-height: 350px;
}

.result {
   width: 100%;
   min-height: 200px;
   max-height: calc(100% - 14rem);
   margin-top: 1rem;
   border-radius: 10px;
   background-color: #3c3c3c;
   position: relative;
   padding: 1rem;
   overflow: auto;
}
.decode_result {
   min-height: 80px;
}
.copy {
   position: absolute;
   top: 7px;
   right: 7px;
   padding: 6px 9px;
   background: transparent;
   border: 1px solid #11d1e2;
   border-radius: 5px;
   color: #11d1e2;
   font-weight: bold;
   outline: none;
   transition: background 0.2s, color 0.2s;
}
.copy:hover {
   background-color: #11d1e2;
   color: #fff;
}
.error {
   background: #7a33339c;
   padding: 2px 7px;
   border-radius: 5px;
   color: #ff6464;
   line-height: 1.4;
}
.wtf {
   background: #2f55709c;
   padding: 2px 7px;
   border-radius: 5px;
   color: #64d6ff;
}

.text {
   color: #fff;
   font-weight: 500;
   width: 85%;
   word-wrap: break-word;
}

.author {
   position: absolute;
   bottom: 0.5rem;
   display: flex;
   gap: 15px;
}
.logo {
   width: 25px;
   height: 25px;
}
.author_name {
   color: #b5b5b5;
   font-size: 0.8rem;
   transition: color 0.2s, text-decoration 0.2s;
   text-decoration: none;
}
.author_name:hover {
   color: #7f7f7f;
   text-decoration: underline;
}
.through {
   text-decoration: line-through;
}
.social {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: flex-end;
   gap: 8px;
}

.tooltip {
   position: absolute;
   top: -150%;
   font-size: 0.8rem;
   color: #ccc;
   text-align: center;
   display: none;
}

@keyframes rainbow-animation {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@media screen and (max-width: 1080px) {
   :root {
      --width: 85%;
   }
}
@media screen and (max-width: 632px) {
   .sub {
      flex-direction: column;
      align-items: flex-start;
   }
}
@media screen and (max-width: 480px) {
   .result {
      max-height: calc(100% - 17rem);
   }
   .author {
      flex-direction: column;
      gap: 5px;
   }
   .social:first-child {
      flex-direction: row-reverse;
   }
}
